@media (max-width: 767px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.3%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.3%);
    }

    .carousel-item .card-img img {
      padding-left: 10px;
  }

}



.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

/* large and up screens */
@media (min-width: 992px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(16.6%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-16.6%);
    }

    .carousel-item .card-img img {
      padding-left: 20px;
  }
  
}


.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

h4 {
    min-width: fit-content;
}

/* p .card-text {

} */

.dropdown-menu {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    margin-top:0px !important;
    width:100% !important;
} 

.dropdown-column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 250px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.dropdown-column a {
    display: block;
    text-align: left;
}

/* swipe-panel */
.swipe-panel{
    overflow-x: auto;
    overflow-y: hidden;
    height: 80px;
  }

.swipe-panel .flex-md-row{
    height: unset;
}

.swipe-panel .nav-item {
    cursor: pointer;
}
  
/* .swipe-panel .nav-item.selected {
      to define for selected
} */


/* carousel-item */
/* .carousel-item .card-img img { */
    /* height: 209px; */
    /* width: 312px; */
    /* padding-left: 20px; */
/* } */

.carousel-item .card-body {
    padding: 0;
}

.book-list .card-img img{
    height: 248px;
}

.card {
  border: transparent;
  height: 100%;
}
